{% extends "pizzeria/base.html" %}


{% block header %}
    <h1>{{ pizza }}</h1>
{% endblock header %}

{% block content %}
    <div class="container">
        <h3>Toppings</h3>
        <ul>
            {% for topping in toppings %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        {{ topping.date_added|date:'M d, Y H:i'}}
                    </h4>
                </div>
            </div>
            <div class="panel-body">
                {{ topping.name|linebreaks }}
            </div>
            {% empty %}
            No toppings have been added yet.
            {% endfor %}
        </ul>
    </div>

{% endblock content %}