{% extends "pizzeria/base.html" %}

{% block header %}
    <div class="jumbotton">
        <h1>Menu</h1>
    </div>
{% endblock header %}

{% block content %}
    <div class="container">
         <ul>
            {% for pizza in pizzas %}
            <li>
                <a href="{% url 'pizzeria:pizza' pizza.id %}">{{ pizza }}</a>
            </li>
            {% empty %}
            <li>No pizzas have been added yet.</li>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}