{% extends "pizzeria/base.html" %}

{% block content %}
    <div class="container">
        <p>Pizza: {{ pizza }}</p>
        <p>Toppings</p>
        <ul>
            {% for topping in toppings %}
            <li>
                <p>{{ topping.date_added|date:'M d, Y H:i'}}</p>
                <p>{{ topping.text|linebreaks }}</p>
            </li>
            {% empty %}
            <li>No toppings have been added yet.</li>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}