{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <title>
        Learning Log
    </title>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
                    <a href="{% url 'learning_logs:index' %}">Learning log</a>
                    <a href="{% url 'learning_logs:topics' %}">Topics</a>
        </nav>
  
        <div class="container">
            {% block content %}{% endblock content%}
        </div>
       
    </body>
</html>